section.events {
  padding-block-start: 0;
}

section.events .cards {
  width: 100%;
  flex-direction: column;
  gap: 48px;
}

section.events .cards .card {
  width: 100%;
  justify-content: flex-start;
  gap: 2rem;
  border-radius: 4px;
  border: 1px solid var(--clr-200);
  overflow: hidden;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

section.events .cards .card:hover {
  background-color: hsl(30, 99%, 71%, 0.08);
}

section.events .cards .card .event-image {
  width: 100%;
  max-width: 50rem;
}

section.events .cards .card .body-text {
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  padding-inline-start: 0rem;
}

section.events .cards .card .body-text .text {
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}

section.events .cards .card .body-text .text .title {
  font-size: 4rem;
  font-weight: 600;
}

section.events .cards .card .body-text .text .desc {
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.6;
  color: hsl(0, 0%, 0%, 0.75);
}

section.events .cards .card .body-text button a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  font-size: 1.5rem;
  color: var(--clr-400);
  text-transform: capitalize;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid var(--clr-400);
}

section.events .cards .card .body-text button:hover a {
  color: var(--clr-100);
  background-color: var(--clr-400);
}

section.events .cards .card .body-text button a img {
  width: 24px;
  height: 24px;
}

section.events .cards .card .body-text button:hover a img {
  filter: invert(1);
}
