@import url(utils.css);
@import url(header.css);
@import url(section_header.css);
@import url(rooms.css);
@import url(events.css);
@import url(footer.css);

body {
  font-family: var(--body-ff);
  font-size: var(--fs-def);
  color: var(--clr-400);
}
